#VRAAnalysisMain {
  display: flex;
  width: 100%;
  min-height: 0;
  padding: 1rem 1rem 2rem;
  gap: 1rem;
  box-sizing: border-box;
}

.VRAAnalysisGraphs {
}

.VRAAnalysisContainers {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}

@media (max-width: 1000px) {
  #VRAAnalysisMain {
    flex-direction: column;
    height: auto;
  }

  .VRAAnalysisContainers {
    width: 100%;
  }
}
